<div class="container">
	<form>
		<div class="form-group">
			<label for="cardId">{{ 'cardnumber' | translate }}</label>
			<input type="text" class="form-control" id="cardId" #cardId required>
		</div>
		<div class="form-group">
			<label for="cardPin">{{ 'pin' | translate }}</label>
			<input type="password" class="form-control" id="cardPin" #cardPin required>
		</div>
		<!--<div>
			<re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="6LdEnxQTfkdldc-Wa6iKZSelks823exsdcjX7A-N"></re-captcha>
		</div>-->
		<div>
			<button type="submit" class="btn btn-default" (click)="onSubmit(cardId.value, cardPin.value)">{{ 'send' | translate }}</button>
		</div>
	</form>
	<br> {{ output }}
</div>